*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #cacaca;
    margin: 50px;
    padding: 10px;
    display: flex;
}
.item{
    background-color: #ff0037;
    color: whitesmoke;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
}